<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css" />

    <style>
       
        .btn-solid {
      background-color: #3b82f6;
      color: white;
      box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    }
    .btn-solid:hover{
        background-color: #e47cd4;
      color: white;
      box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    }
    
    </style>
    
</head>
<body class="dark:bg-slate-900">
   <header id="navbar" class="site-header fixed top-0 z-50 w-full shadow-sm dark:bg-slate-800 bg-slate-500 text-reveal ">
    <nav class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16 md:h-20">
        
        <!--  Website Name -->
        <div class="shrink-0 nav-menu">
          <a href="#" class="text-2xl font-bold tracking-tight bg-linear-to-r from-blue-600 to-indigo-600 bg-clip-text text-transparent dark:from-blue-400 dark:to-pink-400">
           TravelSet
          </a>
        </div>

        <!-- Desktop Navigation (large screens) -->
        <div class="hidden lg:flex lg:items-center lg:space-x-6 xl:space-x-8 uppercase ">
          <a href="#" class="nav-link text-base font-medium text-white">Home</a>
          <a href="#" class="nav-link text-base font-medium text-white">Destination</a>
          <a href="#" class="nav-link text-base font-medium text-white">Tour</a>
          <a href="#" class="nav-link text-base font-medium text-white">Blog</a>
          <a href="#" class="nav-link block py-3 px-2 text-base font-medium rounded-lg text-white">Contact</a>
          <a href="#" class="nav-link text-base font-medium text-white">About Us</a>
        </div>

        <!-- Right dark mode toggle Login/Register mobile hamburger -->
        <div class="flex items-center gap-3 md:gap-4">
            <button id="theme-toggle" onclick="toggleTheme()"
                    class="w-10 h-10 flex items-center justify-center rounded-full bg-white/20 hover:bg-white/30 text-white transition-all duration-300 text-xl"
                    title="Toggle dark/light mode">
            <!-- Sun icon -->
                    <i id="icon-sun" class="ri-sun-line hidden text-slate-700 dark:text-slate-200"></i>
                    <!-- Moon icon -->
                    <i id="icon-moon" class="ri-moon-line text-slate-700 dark:text-slate-200"></i>
            
          </button>

          <!-- Desktop: Login\Register buttons-->
          <div class="hidden lg:flex items-center gap-3">
            <button class="btn-solid px-4 py-2 rounded-full text-sm font-semibold transition dark:text-white uppercase"><a href="login.html">Log in</a></button>
            <button class="btn-solid px-4 py-2 rounded-full text-sm font-semibold shadow-sm transition uppercase"><a href="signup.html">Sign up</a></button>
          </div>

          <!-- Mobile menu button -->
          <button id="menubutton" class="lg:hidden relative w-9 h-9 rounded-lg flex items-center justify-center hover:bg-gray-400 dark:hover:bg-gray-700 transition dark:text-white" aria-label="Open menu">
             <i class="ri-menu-line "></i>
          </button>
        </div>
      </div>
    </nav>

    <!-- Mobile Dropdown Menu -->
    <div id="nav-menu" class="nav-menu lg:hidden hidden w-full overflow-hidden transition-all duration-300 ease-in-out dark:bg-gray-800">
      <div class="mobile-menu-panel px-4 py-3 space-y-1 shadow-lg">
        <a href="#" class="nav-link block py-3 px-2 text-base font-medium rounded-lg dark:text-white">Home</a>
        <a href="#" class="nav-link block py-3 px-2 text-base font-medium rounded-lg dark:text-white">Destination</a>
        <a href="#" class="nav-link block py-3 px-2 text-base font-medium rounded-lg dark:text-white">Tour</a>
        <a href="#" class="nav-link block py-3 px-2 text-base font-medium rounded-lg dark:text-white">Blog</a>
        <a href="#" class="nav-link block py-3 px-2 text-base font-medium rounded-lg dark:text-white">Contact</a>
        <a href="#" class="nav-link block py-3 px-2 text-base font-medium rounded-lg dark:text-white">About Us</a>
        
        <!-- divider -->
        <div class="border-t border-gray-200 dark:border-gray-700 my-2"></div>
        
        <!-- mobile Login\Register full width -->
        <div class="flex flex-col gap-3 pt-2 pb-1 ">
          <button class="btn-solid w-full py-2.5 rounded-full text-center font-semibold transition uppercase"><a href="login.html" class="text-white uppercase">Log in</a></button>
          <button class="btn-solid w-full py-2.5 rounded-full text-center font-semibold transition  bg-blue-500 text-white uppercase"><a href="signup.html">Sign up</a></button>
        </div>
      </div>
    </div>
  </header>

  <script src="../src/main.js"></script>
</body>
</html>